{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Eric Slyman</title>

    <!-- Style Sheets -->
    <link rel="stylesheet" type="text/css" href="{% static "semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "resume/css/index.css" %}">
</head>

<body class="ui">

        <div class="ui pointing vertical menu">
                <a class="item">
                  Eric Slyman
                </a>
                <div class="item">
                  <b>Grouped Section</b>
                  <div class="menu">
                    <a class="item">Subsection 1</a>
                    <a class="active item">Subsection 1</a>
                    <a class="item">Subsection 1</a>
                  </div>
                </div>
                <div class="ui dropdown item">
                  Dropdown <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">Choice 1</div>
                    <div class="item">Choice 2</div>
                    <div class="item">Choice 3</div>
                  </div>
                </div>
              </div>

    <!-- Javascript -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="{% static "semantic.min.js" %}"></script>
</body>
</html>