{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "resume/css/references.css" %}">
{% endblock style %}

{% block content %}
<div class="ui grid container">
    <!-- Brian Hutchinson -->
    <div class="four wide column">
        <div class="ui inverted vertical fluid pointing menu">
            <a href="https://facultyweb.cs.wwu.edu/~hutchib2/" target="_blank" class="active item">
                Brian Hutchinson
            </a>
        </div>
    </div>

    <div class="twelve wide stretched column">
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="header">Phone</div>
                    (360)650-4894
                </div>
                <div class="item">
                    <div class="header">Email</div>
                    Brian.Hutchinson@wwu.edu
                </div>
                <div class="item">
                    <div class="header">Relationship</div>
                    Research Supervisor & Computer Science Advisor 
                </div>
                <div class="item">
                    <div class="header">Occupation</div>
                    Computer Science Professor at WWU
                </div>
            </div>
        </div>
    </div>
    
    <!-- AJ Barse -->
    <div class="four wide column">    
        <div class="ui inverted vertical fluid pointing menu">
            <a href="https://www.linkedin.com/in/ajbarse/" target="_blank" class="active item">
                AJ Barse
            </a>
        </div>
    </div>

    <div class="twelve wide stretched column">
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="header">Phone</div>
                    (360)650-7222
                </div>
                <div class="item">
                    <div class="header">Email</div>
                    AJ.Barse@wwu.edu
                </div>
                <div class="item">
                    <div class="header">Relationship</div>
                    Student Technology Center Manager
                </div>
                <div class="item">
                    <div class="header">Occupation</div>
                    Instructional Technologist at WWU
                </div>
            </div>
        </div>
    </div>

    <!-- David Hamiter -->
    <div class="four wide column">
        <div class="ui inverted vertical fluid pointing menu">
            <a href="https://www.linkedin.com/in/davidhamiter" target="_blank" class="active item">
                David Hamiter
            </a>
        </div>
    </div>

    <div class="twelve wide stretched column">
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="header">Phone</div>
                    (360)650-4976
                </div>
                <div class="item">
                    <div class="header">Email</div>
                    David.Hamiter@wwu.edu
                </div>
                <div class="item">
                    <div class="header">Relationship</div>
                    Student Technology Center Manager
                </div>
                <div class="item">
                    <div class="header">Occupation</div>
                    IT Specialist at WWU
                </div>
            </div>
        </div>
    </div>

    <!-- Russell Stetzer -->
    <div class="four wide column">
        <div class="ui inverted vertical fluid pointing menu">
            <a href="https://adminweb.wwu.edu/fs_directory/Default?first_last=russell+stetzer" target="_blank" class="active item">
                Russell Stetzer
            </a>
        </div>
    </div>

    <div class="twelve wide stretched column">
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="header">Phone</div>
                    (360)650-3694
                </div>
                <div class="item">
                    <div class="header">Email</div>
                    Russell.Stetzer@wwu.edu
                </div>
                <div class="item">
                    <div class="header">Relationship</div>
                    ATUS Mentor
                </div>
                <div class="item">
                    <div class="header">Occupation</div>
                    IT Specialist III at WWU
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}