/*
#1c1D21 - Black
#31353D - Gray
#445878 - Blue
#92CDCF - Cyan
#EEEFF7 - White
*/

body {
    font-size: 1rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline;
    color: #1c1D21 !important;
}

/* Strip all excess margin and padding */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

i {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 4rem !important;
}

h1 {
    text-align: center;
}

#menu-container {
    margin: 0;
    background: #1c1D21;
    border-radius: 0;
}