body {
    font-size: 1rem;
    background-image: linear-gradient(to right top, #445878, #507591, #6092a8, #76afbc, #92cdcf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline;
}

/* Strip all excess margin and padding */
* {
    margin: 0;
    padding: 0;
    border: 0;
}