/*
#1c1D21 - Black
#31353D - Gray
#445878 - Blue
#92CDCF - Cyan
#EEEFF7 - White
*/

.mylink {
    color: #1c1D21;
}

.mylink:hover {
    color: #31353D
}

.ui.move.reveal > .content {
    float: none;
}

.ui.centered.medium.rounded.image {
    margin: auto !important;
    padding: 0 !important;
    display: block !important;
}